<!DOCTYPE html>

<html>
    <link rel="stylesheet" href="/CSS/style.css" >
<head>
    <title>404</title>
    <link rel="icon" href="/IMG/IMG_3979.JPG">
</head>

<body>
    <div class="main-content">
            {{>headers}}
        <p>{{errorMessage}}</p>
    </div>
    
    {{>footer}}
</body>

</html>