<!DOCTYPE html>
<html> 

<head> 
    <title>About</title>
    <link rel="icon" href="/IMG/IMG_3979.JPG">
    <link rel="stylesheet" href="/CSS/style.css">

</head>

<body> 
    <div class="main-content">
        {{>headers}}
    <img class="portrait" src="/IMG/IMG_3977.JPG">
    </div>
    
    {{>footer}}
</body>

</html>